@using Radzen

<div class="container">
    <div class="row justify-content-center" style="margin-top:15px;">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal1">Add a Word</button>
    </div>
</div>