@inject HttpClient Http

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" @onclick="()=>Show = false">&times;</button>
        <h4 class="modal-title">All Words</h4>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row justify-content-center">
                @if (!Show)
                {
                    <button type="submit" class="rz-button btn-primary" @onclick="FillWords" id="TVulRwc6Zk" _bl_5cbe03e1-db98-48f9-904f-8daa0ab2b17a="">
                        Show All Words
                    </button> 
                }

                else 
                {
                    if (Words.Count() != 0)
                    {
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Words</th>
                                <th>Meanings</th>
                            </tr>
                            </thead>
                            <tbody>
                                @foreach (var word in Words)
                                {
                                    <tr class="warning">
                                        <td>@word.Word</td>
                                        <td>@word.Meaning</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No Words!</p>
                    }
                }
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" @onclick="()=>Show = false">Close</button>
    </div>
    </div>
</div>
</div>

@code{
    @* [Parameter]
    public AVLtree aVLtree{get; set;} *@
    private bool Show {get; set;}

    private Entry[] Words = {};
    private async Task FillWords()
    {
        Words = await Task.Run(()=> Main.aVLtree.ShowWordsInRange('a', 'z').ToArray());
        Show = true;
    }
}