@inject HttpClient Http

<div class="container">
    <div class="row justify-content-center">
        <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#myModal">Show All Words</button>
    </div>
</div>