@inject HttpClient Http

<RadzenTemplateForm TItem="Node" Data=@node Submit=@Remove>
    <RadzenFieldset Text="Delete a Word">
        <div class="row justify-content-center">
            <div class="input-group">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <RadzenTextBox Placeholder="type a word" style="display: block" Name="Word" @bind-Value=@node.Word />
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-danger" id="TVRwc6Zk" _bl_5cbe03e1-db98-48f9-904f-8daa0ab2b17a="">
                                Del
                            </button>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <RadzenRequiredValidator Component="Word" Text="word is required" Popup=true Style="position: absolute"/>
    </RadzenFieldset>
</RadzenTemplateForm>

@code{
    @* [Parameter]
    public AVLtree aVLtree {get; set;} *@
    private class Node
    {
        public string Word {get; set;}
    }
    Node node = new Node();
    private void Remove()
    {
        if(Main.aVLtree.Size != 0)
        {
            Main.aVLtree.Delete(node.Word);
            node = new Node();
        }
        System.Console.WriteLine(Main.aVLtree.Size);
    }
}